html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

code {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.slick-dots li button:before {
  color: #ffbd12 !important;
}
.slick-dots li button:hover {
  color: green !important;
}

.slick-slider {
  position: static !important;
}

.slick-dots li.slick-active button:before {
  color: #ffbd12 !important;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}
